
<h1 style="display: flex; justify-content: center;">Hoooop!</h1>
<p style="display: flex; justify-content: center;">
    Üzgünüm :( Burayı görme yetkin yok. "Ama bu haksızlık"  diyorsan Şu adrese mail atabilirsin :)
    
</p>